* { 
        margin: 0; 
        padding: 0; 
}
body { 
        font: 16px Helvetica, Sans-Serif; 
        line-height: 24px; 
        background: url(img/fondo.jpg);
        background-size: cover;
}
h1 { 
        margin: 0 0 16px 0; 
        padding: 0 0 16px 0; 
        font-size: 42px; 
        font-weight: bold; 
        letter-spacing: -2px; 
}
h2 { 
        font-size: 20px;
        margin: 0 0 6px 0; 
        position: relative; 
}
h2 span { 
        bottom: 0; 
        right: 0; 
        font-style: italic; 
        font-family: Georgia, Serif; 
        font-size: 16px; 
        color: #999; 
        font-weight: normal; 
}
p { 
        margin: 0 0 16px 0; 
}
a { 
        color: black; 
        text-decoration: none;
}
a:hover { 
        border-bottom-style: solid;
        color: black; 
}
ul { 
        margin: 0 0 32px 17px; 
}
footer {
        text-align: center;
        padding: 12px;
        color: #717171;
        font-size: 12px;
        border-top: 1px solid #999;    
        background: black;
}
#info { 
        width: 500px; 
        float: left; 
}
#info p { 
        font-family: sans-serif;
        font-style: italic;
        color: black;
        margin-bottom: 15%;
}
.clear { 
        clear: both; 
}
#page { 
        width: 800px; 
        margin: 10% auto 0px; 
}
#pic { 
        float: right; 
        margin: -30px 0 0 0;
        width: 150px;
}
dt { 
        font-style: italic; 
        font-weight: bold; 
        font-size: 18px; 
        text-align: right; 
        padding: 0 26px 0 0; 
        width: 150px; 
        float: left; 
        height: 100px;   
}
dd { 
        width: 600px; 
        float: right;
        border-left: 1px solid #999;
        padding-left: 20px; 
}
dd.clear { 
        float: none; 
        margin: 0; 
        height: 65px;
        border: 0;
}